<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="helloWorld.name"
          name="title"
        />
      </div>

      <button (click)="saveHelloWorld()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You successfully a new HelloWorld user :-) !</h4>
      <button class="btn btn-success" (click)="newHelloWorld()">Add</button>
    </div>
  </div>
</div>
