<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>HelloWorlds List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let helloWorld of helloWorlds; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveHelloWorld(helloWorld, i)"
      >
        {{ helloWorld.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllHelloWorlds()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-hello-world-details
      [viewMode] = "true"
      [currentHelloWorld]="currentHelloWorld"
    ></app-hello-world-details>
  </div>
</div>
